@model IEnumerable<UserOrder>

<div style="padding:40px;width:80%;margin:auto" class="container">
    <div class="row">
        <div class="col-md-12">
            <h2 class="text-danger text-center">User Order List</h2>

            <table class="table table-bordered table-hover">
                <tr>
                    <th>Order Id</th>
                    <th>Order Date</th>
                    <th>User Name</th>
                    <th>Is Paid</th>
                    <th></th>
                </tr>
                @foreach (var temp in Model)
                {
                    @if (temp.IsPaid)
                    {
                        <tr class="alert-success">
                            <td>@temp.UserOrderID</td>
                            <td>@temp.OrderDateTime</td>
                            <td>@temp.User.FirstName</td>
                            <td>@temp.IsPaid</td>
                            <td>
                                <a class="btn btn-success" asp-action="ViewDispatchDetails" asp-route-id="@temp.UserOrderID">View Dispatch Details</a>
                            </td>
                        </tr>
                    }
                    else
                    {
                        <tr class="alert-danger">
                            <td>@temp.UserOrderID</td>
                            <td>@temp.OrderDateTime</td>
                            <td>@temp.User.FirstName</td>
                            <td>@temp.IsPaid</td>
                            <td>
                                <a class="btn btn-success" asp-action="ViewDispatchDetails" asp-route-id="@temp.UserOrderID">View Dispatch Details</a>
                            </td>
                        </tr>
                    }
                }
            </table>
        </div>
    </div>
</div>

