@model UserOrder
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <table class="table table-bordered table-hover">
                <tr>
                    <td>Order Id</td>
                    <td>@Model.UserOrderID</td>
                </tr>
                <tr>
                    <td>First Name</td>
                    <td>@Model.User.FirstName</td>
                </tr>
                <tr>
                    <td>Order Date</td>
                    <td>@Model.OrderDateTime</td>
                </tr>
                <tr>
                    <td>Is Paid</td>
                    <td>@Model.IsPaid</td>
                </tr>
            </table>

            <h2 class="text-danger text-center">Order Details</h2>
            <table class="table table-bordered table-hover">
                <tr>
                    <td>Sr. No</td>
                    <td>Product Name</td>
                    <td>Photo</td>
                    <td>Quantity</td>
                    <td>Price</td>
                    <td>Amount</td>
                </tr>
                @{ int srno = 1; decimal? amount, totalamount = 0;}
                @foreach(var temp in Model.UserOrderDetails)
                {
                    amount = temp.Qty * temp.Price;
                    totalamount += amount;
                    <tr>
                        <td>@srno</td>
                        <td>@temp.Product.ProductName</td>
                        <td><img src="@temp.Product.photopath" width="70" height="70" /></td>
                        <td>@temp.Qty</td>
                        <td>@temp.Price</td>
                        <td>@amount</td>
                    </tr>
                    srno++;
                }
                <tr>
                    <td colspan="5" class="alert-danger text-right">Total Amount:   @totalamount</td>
                    <td></td>
                </tr>
            </table>
            <br />
            <a class="btn btn-success" asp-action="ExecuteDispatchOrder" asp-route-id="@Model.UserOrderID">Dispatch Order</a>
            &nbsp; &nbsp;
            <a class="btn btn-success" asp-action="Index">Back</a>
        </div>
    </div>
</div>