@model IEnumerable<DispatchAgency>
@{
    ViewData["Title"] = "Index";
}

<h1>Dispatch Agency</h1>
<p>
    <a class="btn btn-success" asp-action="Create">Create</a> 
</p>

<table class="table table-bordered table-hovered">
    <tr>
        <th>Dispathch Agency</th>
        <th>Dispatch Agency Name</th>
        <th>Address</th>
        <th>Email Address</th>
        <th>Contact Person Name</th>
        <th>Mobile Number</th>
        <th></th>
    </tr>
    @foreach(var temp in Model)
            {
                <tr>
                    <td>@temp.DispatchAgencyID</td>
                    <td>@temp.DispatchAgencyName</td>
                    <td>@temp.Address</td>
                    <td>@temp.EmailID</td>
                    <td>@temp.ContactPersonName</td>
                    <td>@temp.MobNo</td>
                    <td>
                        <a class="btn btn-success" asp-action="Edit" asp-route-id="@temp.DispatchAgencyID">Edit</a>
                        <a class="btn btn-success" asp-action="Delete" asp-route-id="@temp.DispatchAgencyID">Delete</a>
                    </td>
                </tr>
            }
</table>

